
.main__dv__text__wrap{
    display: flex;
    flex-direction: row !important;
    border: none !important;
}
.main__dv__text__wrap__icon img{
    width: 5em;
}
.main__dv__text__wrap__content h4{
    width: 60%;
    text-align: left;
}
.main__banner{
    background-image: url('../images/Tinh-nang_newbanner.png') !important;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    height: 7em !important;

}
.main__banner__text{
    height: auto !important;
    padding-top: 0em !important;
    width: 50%;
    text-align: left;
    padding-top:  1.5em !important;
}
.main_dv__head__content{
    margin-top: -5em;
    text-align: left;
}
.main__dv{
    background-image: url('../images/Tinh-nang_new2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
   padding-bottom: 8em;
}
.footer{
    background-image: url('../images/Tinh-nang_new3.png') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -5em;
}

@media screen and (min-width: 994px){
    .header-nav__menu-list__li{
        transition: margin-top 0.27s ease-in-out;
    }
    .header-nav__menu-list__li:hover{
       margin-top: -13px;
        text-shadow: 1px 1px 1px white;
    }
    .header-nav__menu-list #search:hover,
    .header-nav__menu-list li:hover{
        cursor: pointer;
    }
}